.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    justify-content: space-between;

    .navbar-links {
        display: flex;
        align-items: center;
    }

    a {
        flex-shrink: 0;
        margin-right: 48px;
    }
}